/* input{
    padding: 20px;
    width: 50%;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
Link{
  text-decoration: none;
}
.thief{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
} */